on:
  push:
    branches: ['master']
  pull_request:

permissions:
  checks: write # for SonarQube
  contents: write # for semantic-release/github
  issues: write # fir semantic-release/github
  statuses: read # for SonarQube
  pull-requests: write # for SonarQube and semantic-release/github

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v2
        with:
          distribution: 'microsoft'
          java-version: '11'
          cache: 'gradle'
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: |
          ./gradlew spotlessCheck build ${SONAR_TOKEN:+sonarqube}
          npm ci
          npx semantic-release
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_sonatypeUsername: eller86
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: reports
          path: build/reports
